[submodule "Boozy/vendor/GLFW"]
	path = Boozy/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Boozy/vendor/imgui"]
	path = Boozy/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Boozy/vendor/glm"]
	path = Boozy/vendor/glm
	url = https://github.com/g-truc/glm
